body {
    margin: 0;
    padding: 0;
    background-color: rgb(32, 42, 64); 
}
::-webkit-scrollbar {
    width: 0;
    background-color: transparent; /* Imposta il colore di sfondo della barra di scorrimento trasparente */
}
/*
testo
*/
#title {
    font-family: "Times New Roman", Times, serif;
    font-size: 180px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    text-shadow: 
        -1px -1px 0 white,  
         1px -1px 0 white,
        -1px  1px 0 white,
         1px  1px 0 white;
}
#titoli {
    font-family: "Times New Roman", Times, serif;
    font-size: 60px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: -30px;
}
#testo {
    margin-top: 15px;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    text-align: center;
    justify-content: center; /* Centra gli elementi lungo l'asse principale (orizzontalmente) */
    align-items: center;
    color: rgb(0, 0, 0);
}
#testo2 {
    margin-top: 15px;
    font-family: "Times New Roman", Times, serif;
    font-size: 35px;
    text-align: center;
    justify-content: center; /* Centra gli elementi lungo l'asse principale (orizzontalmente) */
    font-weight: bold;
    padding-left: 6px;
    align-items: center;
    color: rgb(255, 255, 255);
}
#testo3 {
    margin-top: -20px;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    padding-left: 6px;
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: center;
}
#testo4 {
    margin-top: 15px;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    align-items: center;
    text-align: center;
    justify-content: center; /* Centra gli elementi lungo l'asse principale (orizzontalmente) */
    color: rgb(255, 255, 255);
}
#minititoli {
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    text-align: center;
    color: rgb(0, 0, 0);
}
#bolla {
    font-family: "Times New Roman", Times, serif;
    font-size: 33px;
    text-align: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

/*
    Parte iniziale alta
*/
#header {
    font-family: "Times New Roman", Times, serif;
    position: fixed;
    height: 700px;
    background-image: url("../pics/Inizio/Teatro.jpeg"); /* Opacità per una migliore leggibilità */
    transition: top 0.3s ease-in-out; /* Aggiungi transizione per effetto di scorrimento */
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center; /* Centra gli elementi lungo l'asse principale (orizzontalmente) */
    align-items: center;
    z-index: 3;
}
.header-content {
    padding: 0px;
}
.header-content img {
    max-width: 100%;
    height: auto;
}
/*
background
*/
#bc {
    background-color: rgb(32, 42, 64); /* Percorso dell'immagine */
    background-size: cover; /* Adatta l'immagine per coprire tutto l'elemento */
    background-position: center; /* Centra l'immagine */ /* Altezza della finestra del browser */
    transition: opacity 1s ease;
}
.image-container {
    width: 100%;
    margin: auto;
    position: relative;
    height: 200px;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.list {
    display: flex;
    width: calc(180px * 8); /* Calcola correttamente la larghezza */
    animation: scroll 20s linear infinite; /* Tempo regolabile */
}

@keyframes scroll {
    0% {
        transform: translateX(-150px);
    }
    100% {
        transform: translateX(-3160px); /* Scorre verso sinistra */
    }
}

.item {
    height: 180px;
    display: flex;
    align-items: center;
    padding: 15px;
}

img {
    height: 100%;
    object-fit: cover;
}



/*Stile button*/
#start {
    width: 200px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.54);
    border-color: rgba(127, 255, 212, 0);
    border: 8px solid rgba(90, 15, 27, 0.956);
    border-radius: 50px;
    font-size: 30px;
    color:rgba(59, 8, 16, 0.956) ;
    font-weight: bold;
    font-family: "Garamond", serif;
    position: absolute;
    cursor: pointer; /* Cambia il cursore quando si passa sopra il pulsante */
}
#start2 {
    width: 150px;
    height: 65px;
    background-color: rgba(255, 255, 255, 0.633);
    border-color: rgba(127, 255, 212, 0);
    border: 4px solid rgba(90, 15, 27, 0.956);
    border-radius: 50px;
    font-size: 25px;
    color:rgba(59, 8, 16, 0.956) ;
    font-weight: bold;
    font-family: "Garamond", serif;
    margin-top: 10%;
    position: absolute;
    cursor: pointer; /* Cambia il cursore quando si passa sopra il pulsante */
}
#start3 {
    width: 100px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.633);
    border-color: rgba(127, 255, 212, 0);
    border: 4px solid rgba(90, 15, 27, 0.956);
    border-radius: 50px;
    font-size: 25px;
    color:rgba(59, 8, 16, 0.956) ;
    font-weight: bold;
    font-family: "Garamond", serif;
    margin-top: 17.5%;
    position: absolute;
    cursor: pointer; /* Cambia il cursore quando si passa sopra il pulsante */
}
@media (pointer: coarse) {
    body {
        margin: 0;
        padding: 0;
        background-color: rgb(32, 42, 64); 
    }
    ::-webkit-scrollbar {
        width: 0;
        background-color: transparent; /* Imposta il colore di sfondo della barra di scorrimento trasparente */
    }
    .des {
        display: none;
    }
    /*
        Parte iniziale alta
    */
    #header {
        height: 500px;
    }
    /*Stile button*/
    #start {
        width: 200px;
        height: 80px;
    }
    #start2 {
        margin-top: 21%;
    }
    #start3 {
        margin-top: 40.5%;
    }
    .image-container {
        width: 100%;
        margin: auto;
        position: relative;
        height: 100px;
        display: grid;
        place-items: center;
        overflow: hidden;
    }
    
    .list {
        display: flex;
        width: calc(180px * 8); /* Calcola correttamente la larghezza */
        animation: scroll 20s linear infinite; /* Tempo regolabile */
    }
    
    @keyframes scroll {
        0% {
            transform: translateX(-150px);
        }
        100% {
            transform: translateX(-2812px); /* Scorre verso sinistra */
        }
    }
    
    .item {
        height: 80px;
        display: flex;
        align-items: center;
        padding: 15px;
    }
    
    img {
        height: 100%;
        object-fit: cover;
    }
}
