body {
    background-color: rgb(193, 71, 30);
}
#title {
    font-family: "Times New Roman", Times, serif;
    font-size: 60px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    margin-top: 2.5%;
    text-shadow: 
    -2px -2px 0 black,  
     2px -2px 0 black,
    -2px  2px 0 black,
     2px  2px 0 black;
}
#testo {
    margin-top: 10%; 
    font-family: "Times New Roman", Times, serif;
    font-size: 21.5px;
    text-align: center;
    color: rgb(0, 0, 0);
}
.parte1 {
    display: flex;
    margin-top: 13.6%;
    justify-content: space-between;
    align-items: center;
}
.text-column {
    flex: 1;
    margin-top: -130px; 
    padding-left: 20px;
    padding: 20px 80px; 
    text-align: center; /* Centra il testo orizzontalmente */
}
.image-column {
    margin-top: 20px; /* Aggiungi uno spazio tra il testo e l'immagine */
    display: flex;
    justify-content: center; /* Centra l'immagine orizzontalmente */
    align-items: center; /* Centra l'immagine verticalmente */
    padding-left: 20px;
    flex: 1;
    text-align: center; /* Centra l'immagine all'interno della colonna */
    order: 2; /* Assicura che l'immagine venga visualizzata dopo il testo */
}

.image-column img {
    max-width: 48%;
    transform: rotate(-10deg); /* Ruota l'immagine di 10 gradi */
    height: 46%;
    display: block;
    border: 20px solid #ddd; /* Definisce uno stile di bordo */
    border-bottom: 80px solid #ddd;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1); /* Aggiunge un'ombra */
    z-index: 1;
}
#header {
    position: absolute; /* Posizione fissa rispetto alla finestra del browser */
    top: 0; /* Allinea l'elemento all'inizio della finestra */
    left: 0; /* Allinea l'elemento all'inizio della finestra */
    width: 100vw; /* Larghezza pari al 100% della larghezza della finestra */
    height: 20%; /* Altezza pari al 30% dell'altezza della finestra */
    background-image: url("../pics/Saleadiacenti/Sala1.jpeg"); /* Percorso dell'immagine */
    background-size: cover; /* Adatta l'immagine per coprire tutto l'elemento */
    background-position: center; /* Centra l'immagine */
    justify-content: center; /* Centra gli elementi lungo l'asse principale (orizzontalmente) */
    align-items: center;
    text-align: center;
}
  /*
pulsante per home
*/
#buttonbordered {
    position: absolute;
    width: 70px;
    height: 60px;
    margin-top: -70px;
    margin-left: 48%;
    background-color:rgba(0, 0, 0, 0.038);
    color: rgb(0, 0, 0);
    border-radius: 30px;
    cursor: pointer; /* Cambia il cursore quando si passa sopra il pulsante */
    border: 0.5px solid black;
}
#buttonbordered::before,
#buttonbordered::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 25px;
    border-radius: 4px;
    top: 25px;
    background-color: #000;
}

#buttonbordered::before {
    left: 15px;
}

#buttonbordered::after {
    right: 15px;
}
#casa {
    position: absolute;
    width: 40px;
    height: 10px;
    border-radius: 4px;
    left: 15px;
    top: 25px;
    background-color: #000;
}
#casa::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 22px;
    border-radius: 4px;
    left: -5px;
    top: -20px;
    background-color: #000;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
#casa::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 40px;
    border-radius: 2px;
    left: 26px;
    top: -20px;
    background-color: #000;
}
@media (max-width: 768px) {
    body {
        background-color: rgb(193, 71, 30);
    }
    #title {
        font-family: "Times New Roman", Times, serif;
        font-size: 40px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-align: center;
        margin-top: 2.5%;
        text-shadow: 
        -2px -2px 0 black,  
         2px -2px 0 black,
        -2px  2px 0 black,
         2px  2px 0 black;
    }
    #testo {
        margin-top: 10%; 
        font-family: "Times New Roman", Times, serif;
        font-size: 21.5px;
        text-align: center;
        color: rgb(0, 0, 0);
    }
    
    .parte1 {
        display: flex;
        flex-direction: column; /* Dispone gli elementi in colonna (verticalmente) */
        margin-top: 13.6%;
        justify-content: center; /* Centra verticalmente gli elementi */
        align-items: center; /* Centra orizzontalmente gli elementi */
    }
    
    .text-column {
        flex: 1;
        margin-top: -10%; 
        padding-left: 20px;
        padding: 20px 80px; 
        text-align: center; /* Centra il testo orizzontalmente */
        order: 1; /* Assicura che il testo sia mostrato per primo */
    }
    .image-column {
        margin-top: 20px; /* Aggiungi uno spazio tra il testo e l'immagine */
        display: flex;
        justify-content: center; /* Centra l'immagine orizzontalmente */
        align-items: center; /* Centra l'immagine verticalmente */
        padding-left: 20px;
        flex: 1;
        text-align: center; /* Centra l'immagine all'interno della colonna */
        order: 2; /* Assicura che l'immagine venga visualizzata dopo il testo */
    }
    
    .image-column img {
        max-width: 48%;
        transform: rotate(-10deg); /* Ruota l'immagine di 10 gradi */
        height: 46%;
        display: block;
        border: 20px solid #ddd; /* Definisce uno stile di bordo */
        border-bottom: 80px solid #ddd;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1); /* Aggiunge un'ombra */
        z-index: 1;
    }
    
    #header {
        position: absolute; /* Posizione fissa rispetto alla finestra del browser */
        top: 0; /* Allinea l'elemento all'inizio della finestra */
        left: 0; /* Allinea l'elemento all'inizio della finestra */
        width: 100vw; /* Larghezza pari al 100% della larghezza della finestra */
        height: 10%; /* Altezza pari al 30% dell'altezza della finestra */
        background-image: url("../pics/Saleadiacenti/Sala1.jpeg"); /* Percorso dell'immagine */
        background-size: cover; /* Adatta l'immagine per coprire tutto l'elemento */
        background-position: center; /* Centra l'immagine */
        justify-content: center; /* Centra gli elementi lungo l'asse principale (orizzontalmente) */
        align-items: center;
        text-align: center;
    }
     /*
pulsante per home
*/
#buttonbordered {
    position: absolute;
    width: 70px;
    height: 60px;
    margin-top: 6%;
    margin-left: 48%;
    background-color:rgba(0, 0, 0, 0.038);
    color: rgb(0, 0, 0);
    border-radius: 30px;
    cursor: pointer; /* Cambia il cursore quando si passa sopra il pulsante */
    border: 0.5px solid black;
}
#buttonbordered::before,
#buttonbordered::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 25px;
    border-radius: 4px;
    top: 25px;
    background-color: #000;
}

#buttonbordered::before {
    left: 15px;
}

#buttonbordered::after {
    right: 15px;
}
#casa {
    position: absolute;
    width: 40px;
    height: 10px;
    border-radius: 4px;
    left: 15px;
    top: 25px;
    background-color: #000;
}
#casa::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 22px;
    border-radius: 4px;
    left: -5px;
    top: -20px;
    background-color: #000;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
#casa::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 40px;
    border-radius: 2px;
    left: 26px;
    top: -20px;
    background-color: #000;
}
}