* {
    padding: 0;
    margin: 0;
}
.custom-hotspot {
    cursor: pointer; /* Imposta il cursore a pointer (mano) quando passi sopra l'oggetto */
}
#panorama {
    width: 100vw;
    height: 100vh;
}
.custom-hotspot2 {
    width: 4.2vw; /* Imposta la larghezza del bottone */
    height: 19.5vh; /* Imposta l'altezza del bottone */
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(255, 0, 0, 0.497); /* Imposta il colore di sfondo del bottone */
    border: none; /* Rimuove il bordo */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    transition: opacity 0.5s ease;
    left: 24.3vw;
    opacity: 0;

    /* Flexbox per centrare il testo */
    display: flex;
    justify-content: center; /* Centro orizzontale */
    align-items: center; /* Centro verticale */
} 
.custom-hotspot3 {
    width: 4.3vw; /* Imposta la larghezza del bottone */
    height: 9.5vh; /* Imposta l'altezza del bottone */
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    font-weight: bold;
    font-size: 17px;
    padding-left: 0.2vw;
    background-color: rgba(255, 0, 0, 0.497); /* Imposta il colore di sfondo del bottone */
    border: none; /* Rimuove il bordo */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    transition: opacity 0.5s ease;
    left: 23.3vw;
    opacity: 0;

    /* Flexbox per centrare il testo */
    display: flex;
    justify-content: center; /* Centro orizzontale */
    align-items: center; /* Centro verticale */
  }
.custom-hotspot4 {
    width: 4vw; /* Imposta la larghezza del bottone */
    height: 19.5vh; /* Imposta l'altezza del bottone */
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    font-weight: bold;
    font-size: 17px;
    padding-left: 0.3vw;
    background-color: rgba(255, 0, 0, 0.497); /* Imposta il colore di sfondo del bottone */
    border: none; /* Rimuove il bordo */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    transition: opacity 0.5s ease;
    left: 29vw;
    opacity: 0;

    /* Flexbox per centrare il testo */
    display: flex;
    justify-content: center; /* Centro orizzontale */
    align-items: center; /* Centro verticale */
} 
.custom-hotspot7 {
    width: 3.6vw; /* Imposta la larghezza del bottone */
    height: 9.5vh; /* Imposta l'altezza del bottone */
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    font-weight: bold;
    font-size: 15px;
    padding-left: 0.5vw;
    background-color: rgba(255, 0, 0, 0.497); /* Imposta il colore di sfondo del bottone */
    border: none; /* Rimuove il bordo */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    transition: opacity 0.5s ease;
    left: 23.3vw;
    opacity: 0;
    display: flex;
    justify-content: center; /* Centro orizzontale */
    align-items: center; /* Centro verticale */
  }
.custccont {
    width: 15vw; /* Imposta la larghezza del bottone */
    height: 19.5vh; /* Imposta l'altezza del bottone */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
}
.custom-hotspot5 {
    width: 8vw; /* Imposta la larghezza del bottone */
    height: 19.5vh; /* Imposta l'altezza del bottone */
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    font-weight: bold;
    right: 24.5%;
    font-size: 20px;
    background-color: rgba(255, 0, 0, 0.497); /* Imposta il colore di sfondo del bottone */
    transition: opacity 0.5s ease;
    clip-path: polygon(9% -3%, 80% 4%, 80% 94%, 9% 103%);
    opacity: 0;
} 
.custom-hotspot51 {
    width: 4.2vw; /* Imposta la larghezza del bottone */
    height: 19.5vh; /* Imposta l'altezza del bottone */
    position: absolute;
    right: 73%;
    background-color: rgba(255, 0, 0, 0.497); /* Colore identico al bottone */
    transition: opacity 0.5s ease;
    clip-path: ellipse(100% 50% at 99% 50%); /* Crea un semicerchio */
    z-index: 0; /* Dietro il contenuto principale */
    opacity: 0;
}
.custom-hotspot52 {
    width: 1.2vw; /* Imposta la larghezza del bottone */
    height: 19.5vh; /* Imposta l'altezza del bottone */
    position: absolute;
    right: 27.29%;
    background-color: rgba(255, 0, 0, 0.497); /* Colore identico al bottone */
    transition: opacity 0.5s ease;
    clip-path: polygon(0 4%, 100% 6%, 100% 92%, 0 94%); /* Trapezio */
    z-index: 0; /* Dietro il contenuto principale */
    mask-image: radial-gradient(ellipse at 99% 48%, transparent 58%, black 41%);
    opacity: 0;
}
.custccont2 {
    width: 2.5vw; /* Imposta la larghezza del bottone */
    height: 18vh; /* Imposta l'altezza del bottone */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
}
.custom-hotspot6 {
    width: 0.33vw; /* Imposta la larghezza del bottone */
    height: 17vh; /* Imposta l'altezza del bottone */
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    font-weight: bold;
    right: 47%;
    font-size: 20px;
    background-color: rgba(255, 0, 0, 0.497); /* Imposta il colore di sfondo del bottone */
    transition: opacity 0.5s ease;
    opacity: 0;
} 
.custom-hotspot61 {
    width: 1.2vw; /* Imposta la larghezza del bottone */
    height: 18.5vh; /* Imposta l'altezza del bottone */
    position: absolute;
    right: 0%;
    top: -3%;
    background-color: rgba(255, 0, 0, 0.497); /* Colore identico al bottone */
    transition: opacity 0.5s ease;
    clip-path: polygon(0 4%, 100% 6%, 100% 92%, 0 94%); /* Trapezio */
    z-index: 0; /* Dietro il contenuto principale */
    mask-image: radial-gradient(ellipse at 99% 48%, transparent 58%, black 41%);
    opacity: 0;
} 
.custom-hotspot62 {
    width: 1.2vw; /* Imposta la larghezza del bottone */
    height: 17vh; /* Imposta l'altezza del bottone */
    position: absolute;
    right: 60%;
    background-color: rgba(255, 0, 0, 0.497); /* Colore identico al bottone */
    transition: opacity 0.5s ease;
    clip-path: ellipse(100% 50% at 99% 50%); /* Crea un semicerchio */
    z-index: 0; /* Dietro il contenuto principale */
    opacity: 0;
} 
.tex {
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    font-weight: bold;
    text-align: center;
    left: 14%;
    bottom: 35%;
    opacity: 0;
}
.info {
    width: 100px; /* Larghezza del rettangolo */
    height: 30px; /* Altezza del rettangolo */
    border-radius: 10px; /* Bordi arrotondati */
    background-color: rgba(18, 17, 16, 0.8); /* Colore di sfondo */
    margin-top: -30px;
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    display: none;
}
.info::after {
    content: ''; /* Contenuto pseudoelemento */
    position: absolute; /* Imposta la posizione assoluta rispetto al rettangolo */
    bottom: -15px; /* Sposta il triangolo in basso del valore desiderato */
    left: 13%; /* Centra il triangolo orizzontalmente */
    margin-left: -10px; /* Per centrare il triangolo */
    border-width: 10px; /* Dimensioni del triangolo */
    border-style: solid;
    border-color: rgba(18, 17, 16, 0.8) transparent transparent transparent; /* Colore del triangolo */
}
#foyer {
    transition: opacity 0.5s ease;
}
.fade-out {
    opacity: 0;
}
.fade-in {
    opacity: 1;
}
#map {
    width: 100vw;
    height: 100vh;
}
#co {
    position: fixed;
  display: flex;
  top: 0; 
  left: 0;
  justify-content: center;   /* Centra orizzontalmente */
  align-items: center;        /* Centra verticalmente */
  width: 100%;
  height: 100%;
  background-color: black; 
  z-index: 10000;
}
#gir {
    position: fixed;
    top: -2%;
    left: 0;
    justify-content: center; /* Per centrare orizzontalmente */
    align-items: center;    /* Per centrare verticalmente */
    width: 100%;
    height: auto;
    z-index: 100000000;
}
#test{
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    font-weight: bold;
    text-align: justify;
}
#testo {
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    font-weight: bold;
    font-size: 1.5vw;
    color: #ffffff;
    width: 17vw;/* Larghezza fissata a 40px */
    z-index: 1000;
    margin-top: 17vh; /* Spostamento dall'alto */
    margin-left: 3vw;
    text-align: justify;
    
    /* Usare Flexbox per il centraggio verticale */
    display: flex;
    justify-content: center; /* Centro orizzontale */
    align-items: center; /* Centro verticale */
}

/*
 pulsante per home 
 */
 #buttonbordered {
    position: absolute;
    width: 70px;
    height: 60px;
    bottom: 13%;
    margin-left: 45%;
    background-color:rgba(0, 0, 0, 0.038);
    color: rgb(0, 0, 0);
    border-radius: 30px;
    cursor: pointer; /* Cambia il cursore quando si passa sopra il pulsante */
    border: 0.5px solid black;
}
#buttonbordered::before,
#buttonbordered::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 25px;
    border-radius: 4px;
    top: 25px;
    background-color: #000;
}

#buttonbordered::before {
    left: 15px;
}

#buttonbordered::after {
    right: 15px;
}
#casa {
    position: absolute;
    width: 40px;
    height: 10px;
    border-radius: 4px;
    left: 15px;
    top: 25px;
    background-color: #000;
}
#casa::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 22px;
    border-radius: 4px;
    left: -5px;
    top: -20px;
    background-color: #000;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
#casa::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 40px;
    border-radius: 2px;
    left: 26px;
    top: -20px;
    background-color: #000;
}
#testo1 {
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    font-weight: bold;
    font-size: 1.2vw;
    color: #ffffff;
    width: 10vw;/* Larghezza fissata a 40px */
    z-index: 1000;
    text-align: justify;
    display: flex;  
    right: 39%;
    bottom: 40vh;
}
#Oggetti {
    position: absolute;
    width: 77%;
    height: 10%;
    bottom: 13vh;
    right: 57%;
}
.switch {
    position: relative;
    display: inline-block;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* Stile del cursore (lo slider) */
  .slider {
    position: absolute;
    cursor: pointer;
    height: 35px;
    width: 60px;
    bottom: 420%;
    right: 25vw;
    background-color: #ccc;
    transition: .4s;
    border-radius: 25px;
  }
  
  /* Il cerchio all'interno dello switch */
  .slider:before {
    content: "";
    position: absolute;
    height: 35px;
    width: 35px;
    left: 0;
    bottom: 0;
    background-color: white;
    background-image: url('../pics/swi/info.svg');
    transition: .4s;
    border-radius: 50%;
  }
  
  /* Quando il checkbox è selezionato */
  input:checked + .slider {
    background-color: #f51f1f;
  }
  
  /* Movimento del cerchio quando è selezionato */
  input:checked + .slider:before {
    transform: translateX(26px);
    background-image: url('../pics/swi/noinf.svg');
  }
  .nul {
    display: none;
  }

  @media (pointer: coarse) {
    /*
     pulsante per home
     */
     #buttonbordered {
        width: 35px;
        height: 30px;
        bottom: 3%;
        margin-left: 48%;
        border-radius: 30px;
        border: 0.5px solid black;
    }
    #buttonbordered::before,
    #buttonbordered::after {
        width: 8px;
        height: 12.5px;
        border-radius: 2px;
        top: 12.5px;
    }
    
    #buttonbordered::before {
        left: 7.5px;
    }
    
    #buttonbordered::after {
        right: 7.5px;
    }
    #casa {
        width: 20px;
        height: 5px;
        border-radius: 2px;
        left: 7.5px;
        top: 12.5px;
    }
    #casa::after {
        width: 25px;
        height: 11px;
        border-radius: 2px;
        left: -2.5px;
        top: -10px;
    }
    #casa::before {
        width: 5px;
        height: 20px;
        border-radius: 1px;
        left: 13px;
        top: -10px;
    }
    .slider {
        right: -2vw;
        bottom: -130%;
      }
    #testo1 {
        bottom: -12vh;
    }
    .custom-hotspot2 {
        font-size: 7px;
    } 
    .custom-hotspot3 {
        font-size: 7px;
      }
      .custom-hotspot4 {
        font-size: 7px;
    } 
    .tex {
        font-size: 18px;
    }
    .info {
        font-size: 18px;
    }
  }